* {
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 10px;
  background-image: url(./assets/potatoBackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
#container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#cookieSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 250px;
}
#cookie {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 250px;
  cursor: pointer;
  animation: bounce 1s infinite;
  margin: 50px;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#cookie.clicked {
  animation: scaleUp 0.1s forwards;
}
#mainCounterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-left: 20px;
  padding: 8px;
  background-color: #f33232;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}
.shopUpgrades {
  border: 2px solid #333;
  padding: 2px;
  margin: 4px 0;
  border-radius: 8px;
  background-color: #dfc908;
  text-align: center;
}
#optionsMenu {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 20px;
  background-color: #dfc908;
  border: 1px solid #ff3300;
  box-shadow: 0 0 10px rgba(107, 106, 106, 0.1);
  font-family: cursive;
  font-size: 20px;
  font-weight: 100;
}

h3 {
  font-family: cursive;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  text-shadow: 1px 1px 2px pink;
}
h2 {
  font-size: 92px;
  font-family: cursive;
  font-weight: 100;
  text-shadow: 5px 5px 10px pink;
}
h1 {
  rotate: -45deg;
  text-shadow: 5px 5px #558abb;
  font-size: 72px;
  padding-left: 35px;
  font-family: cursive;
  font-weight: 100;
}
p {
  font-family: cursive;
  font-size: 15px;
  font-weight: 100;
  text-shadow: #fc0 1px 0 10px;
}
.counter {
  font-size: 90px;
}
.heading {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 25px;
  color: rgb(95, 73, 32);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.button {
  font-family: cursive;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 5px 5px 10px black;
  background-color: blue;
  color: wheat;
  cursor: pointer;
  padding: 8px 16px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 15px;
}
.button:active {
  transform: scale(1.2);
  background-color: lightblue;
  color: black;
  border: 2px solid black;
}
@media (max-width: 800px) {
  #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding: 0;
  }
  #shop {
    width: 90%;
    max-width: 200px;
    margin: auto;
    padding: 5px;
    grid-column: 1 / 3;
  }
  #cookie {
    width: 90%;
    height: auto;
    margin: auto;
    grid-column: 3;
  }
  h1 {
    font-size: 5vw;
    margin: 0;
  }
  h2 {
    font-size: 4vw;
    margin: 0;
  }
  h3 {
    font-size: 3vw;
    margin: 0;
  }
  .shopUpgrades {
    padding: 5px;
    margin: 2px 0;
    font-size: 3vw;
  }
  .button {
    font-size: 3vw;
    padding: 5px 10px;
    margin: 5px 0;
    width: fit-content;
  }
  #optionsMenu {
    width: 80%;
    max-width: 200px;
    padding: px;
    font-size: 2vw;
    grid-column: 1 / 3;
    margin: 3px auto;
    border: 1px solid #ff3300;
    box-shadow: 0 0 5px rgba(107, 106, 106, 0.1);
    background-color: #dfc908;
  }
  .counter {
    font-size: 4vw;
    grid-column: 1 / 3;
  }
  #cookieSection {
    margin: 0;
    align-items: center;
  }
  .heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1,
  h2,
  h3,
  p {
    text-align: center;
    margin: 0;
  }
}
